swagger: "2.0"
info:
  description: "About"
  version: "1.0"
  title: "Pfeffernusse"
  contact:
    email: "jlaura@usgs.gov"
  license:
    name: "UnLicense"
    url: "http://unlicense.org/"
host: "astrogeology.wr.usgs.gov"
basePath: "/api/1.0"
schemes:
- "http"
- "https"
paths:
  /missions:
    get:
      tags:
      - "missions"
      summary: "A listing of all available missions"
      description: ""
      operationId: "listMissions"
      produces:
      - "application/json"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Missions"
  /missions/{mission}:
    get:
      tags:
      - "mission"
      summary: ""
      description: "Get a listing of available kernel types by missions"
      operationId: "findKernelsByMission"
      parameters:
        - name: mission
          in: path
          description: Name of the missions
          required: true
          type: string
      produces:
      - "application/json"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Missions"
        400:
          description: "Invalid mission name"
  /missions/{mission}/kernels:
    get:
      tags:
      - "kernels"
      summary: "List metakernels for a given mission"
      description: ""
      operationId: "findMetaKernelsByMission"
      produces:
      - "application/json"
      parameters:
        - name: mission
          in: path
          description: "Name of the missions"
          required: true
          type: string
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Kernels"
        400:
          description: "Invalid tag value"
          
  /missions/{mission}/csm_isd:
    post:
      description: Create a Community Sensor Model ISD
      operationId: generateCSM_ISD
      parameters:
        - name: mission
          in: path
          description: "Name of the missions"
          required: true
          type: string
        - name: post_request
          in: body
          description: "The JSON blob with metadata necessary to create a CSM ISD. This information is contained within a PDS label."
          schema:
            $ref: '#/definitions/CSM_ISD_REQUEST'
      responses:
        "200":
          description: isd response
          schema:
            $ref: '#/definitions/CSM_ISD'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'

definitions:
  Missions:
    type: "array"
    items:
      type: "object"
      properties:
        id:
          type: "integer"
          format: "int64"
        name:
          type: "string"
  
  Kernels:
    type: "array"
    items:
      type: "object"
      properties:
        id:
          type: "integer"
          format: "int64"
        mission:
          type: "object"
          $ref: "#/definitions/Missions"
        name:
          type: "string"
        newest:
          type: "boolean"
        path:
          type: "string"
        year:
          type: "string"
  
  CSM_ISD:
    type: "object"
    properties:
      id:
        type: "string"
  
  Error:
    required:
      - code
      - message
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
  
  CSM_ISD_REQUEST:
    type: "object"
    properties:
      target_name:
        type: "string"
      capture_date:
        type: "string"
      instrument:
        type: "string"
      spacecraft_id:
        type: "string"
      spacecraft_clock_count:
        type: "string"
      exposure_duration:
        type: "string"
      lighttime_correction:
        type: "string"
      min_elevation:
        type: "string"
      max_elevation:
        type: "string"
  
externalDocs:
  description: "Find out more about Swagger"
  url: "http://swagger.io"